<div class="hero-text">
  <h1>Create Stunning<br>Visual Media</h1>
</div>
<div class="h2-text">
  <h2>
      Super simple tool to create trendy videos and pictures<br>
      for your ads, social media, blogs and websites.<br>
      Make your projects stand out!
  </h2>
</div>
<div class="cta-button-container">
  <input (click)="createDesign()" type="button" class="cta-button" value="CREATE DESIGN ->">
</div>
<div class="dotstyle">
  <ul>
      <li class="active-dot"><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
  </ul>
</div>